[submodule "Assets/Project/Scripts/Utilities/ChangExternal"]
	path = Assets/Project/Scripts/Utilities/ChangExternal
	url = git@github.com:DeMoZ/ChangExternal.git
[submodule "Assets/U3d_DMZExternal"]
	path = Assets/U3d_DMZExternal
	url = git@github.com:DeMoZ/U3d_DMZExternal.git
[submodule "Builds/WebGL/ChangDevelop"]
	path = Builds/WebGL/ChangDevelop
	url = git@github.com:DeMoZ/ChangDevelop.git
[submodule "Builds/WebGL/ChangPlay"]
	path = Builds/WebGL/ChangPlay
	url = git@github.com:DeMoZ/ChangPlay.git
